.left{
    flex: 20;
    /* border-right: 2px solid black; */
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.top-left-container{
    width: 100%;
}

.top-line{
    position: sticky;
    display: flex;
    justify-content: center;
    width: 0px;
    margin-left: 60%;
    border: 2px solid black;
    min-height: 35vh;
}

.middle-container{
    position: sticky;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.middle-container > a{
    margin-top: 20px;   
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.middle-container > a:hover{
    text-decoration: underline;
}

.middle-container > a:last-child{
    margin-bottom: 12px;
}

